
.title{
    /* background-color: lawngreen; */
    padding-left: 40px;
    padding-top: 20px;
    font-size: 40px;

}


/**************************************/
#nav{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: flex-end;

}
#name{
    /* background-color: rosybrown; */
    width:100%;
    font-size: 50px;
    padding-left: 20px;
    
}
#nav_items_container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    align-items: flex-end;
    
    
}
.nav-items{
    /* background-color: purple; */
    padding-right: 40px;
    padding-bottom:10px;
    text-decoration: none;
    color: black;

}
.nav-items img{
    height: 55px;
    width: 55px;
    object-fit: cover;
}

/********************************************/
#landing{
    /* background-color: yellow; */
    width: 100%;
    height: 10%;
    display:flex;
    
}

#headshot_container img{
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
    padding: 40px;
    
}

#landing-rightside{
    margin-top: 20px;
}
#landing-bio{
    /* background-color: rosybrown; */
    font-size: 25px;
    padding: 50px;
    
}
#landing-btns-container{
    /* background-color: skyblue; */
    padding-left: 20px;
    margin-left: 20px;
}
#landing-btns-container a img{
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-left: 20px;
}


/********************************************/
#about{
    /* background-color: orange; */
    width: 100%;
}
#about-container{
    /* background-color: lightgrey; */
    border:1px solid grey;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    height: fit-content;
    
}
#about-bio{
    /* background-color: lightpink; */
    width: 70%;
    padding: 40px;
    height: 100%;
}

#hockey_img img{
    height: 300px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 20px;
    /* padding-right:20px; */
}

/********************************************/
#skills{
    /* background-color: green; */
    width: 100%;
    height: 10%;
    
}

#skills-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left:40px;
    margin-right: 40px;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    
    
}

.skills-title{
    /* background-color: red; */
    /* padding:20px; */
    font-size: 30px;
}

.skills-title ~ button{
    margin:5px;
}


/********************************************/
#education{
    /* background-color: lightblue; */
    width: 100%;
    height: 10%;
    
}
#education-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
}
.education-name{
    font-size:25px;

}

/********************************************/
#experience{
    /* background-color: blue; */
    width: 100%;
    height: 10%;
    
}
#experience-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
}
.experience-title{
    font-size:25px;
    
}

/********************************************/
#projects{
    /* background-color: pink; */
    width: 100%;
    height: 10%;
    
}
#projects-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
}
.projects-name{
    font-size:25px;
}

/*****************************/

#footer-container{
    display:flex;
    justify-content: space-between;
}
#copyright-container{
    padding: 30px;
}
#footer-btns-container{
    padding:30px;
}
#footer-btns-container img{
    height: 55px;
    width: 55px;
    object-fit: cover;
}
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/


@media screen and (max-width: 1000px) {
#nav{
    /* background-color: red; */
    display: flex;
    flex-direction: column;

}
#name{
    /* background-color: rosybrown; */
    width:100%;
    font-size: 50px;
    padding-left: 0px;
    text-align: center;
    
}
#nav_items_container{
    /* background-color: coral; */
    text-align: center; 
    font-size: 100%;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    
}
.nav-items{
    /* background-color: purple; */
    padding-right: 0px;
    padding-bottom:0px;
    
    text-decoration: none;
    color: black;

    margin:10px;

    font-size: 100%;


}
.nav-items img{
    display: none;
}


}


/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/


@media screen and (max-width: 669px) {
    .title{
        /* background-color: lawngreen; */
        padding-left: 20px;
        padding-top: 20px;
        font-size: 40px;
    
    }
    #nav{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    
    }
    #name{
        /* background-color: rosybrown; */
        width:100%;
        font-size: 50px;
        padding-left: 0px;
        text-align: center;
        
    }
    #nav_items_container{
        /* background-color: coral; */
        text-align: center; 
        font-size: 100%;
        width: 100%;
        justify-content: space-around;
        
    }
    .nav-items{
        /* background-color: purple; */
        padding-right: 0px;
        padding-bottom: 0px;
        
        text-decoration: none;
        color: black;
    
        margin: 0px;
    
        font-size: 100%;
    
    
    }
    .nav-items img{
        display: none;
    }
    
    /********************************************/
#landing{
    /* background-color: yellow; */
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;    
}

#headshot_container img{
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
    padding: 20px;
    
}

#landing-rightside{
    text-align: start;
}
#landing-bio{
    /* background-color: rosybrown; */
    font-size: 25px;
    padding: 30px;
    padding-top: 0px;
    
}
#landing-btns-container{
    text-align: center;
    /* background-color: skyblue; */
    padding-left: 0px;
    margin-left: 0px;
}
#landing-btns-container a img{
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-left: 20px;
}


/********************************************/
#about{
    /* background-color: orange; */
    width: 100%;
}
#about-container{
    /* background-color: lightgrey; */
    border:1px solid grey;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column-reverse;
    text-align: center;
    
}
#about-bio{
    /* background-color: lightpink; */
    width: 100%;
    padding: 20px;
    height: 100%;
    text-align: start;
}

#hockey_img img{
    height: 350px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 20px;
    /* padding-right:20px; */
}

/********************************************/
#skills{
    /* background-color: green; */
    width: 100%;
    height: 10%;
    
}

#skills-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left:20px;
    margin-right: 20px;
    padding:20px;
    
    
}

.skills-title{
    /* background-color: red; */
    /* padding:20px; */
    font-size: 30px;
}

.skills-title ~ button{
    margin:5px;
}


/********************************************/
#education{
    /* background-color: lightblue; */
    width: 100%;
    height: 10%;
    
}
#education-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.education-name{
    font-size:25px;

}

/********************************************/
#experience{
    /* background-color: blue; */
    width: 100%;
    height: 10%;
    
}
#experience-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.experience-title{
    font-size:25px;
    
}

/********************************************/
#projects{
    /* background-color: pink; */
    width: 100%;
    height: 10%;
    
}
#projects-container{
    /* background-color: lightgray; */
    border:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.projects-name{
    font-size:25px;
}

/*****************************/

#footer-container{
    display:flex;
    text-align: center;
    flex-direction: column-reverse;

}
#copyright-container{
    padding: 20px;
}
#footer-btns-container{
    padding:20px;
}
#footer-btns-container img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

}